---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/companies/v2/companies/recent/created?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"results":[{"portalId":62515,"companyId":42866817,"isDeleted":false,"properties":{"zip":{"value":"94520","timestamp":1434442722322,"source":null,"sourceId":null,"versions":[{"name":"zip","value":"94520","timestamp":1434442722322,"sourceVid":[]}]},"country":{"value":"United
        States","timestamp":1434442722322,"source":null,"sourceId":null,"versions":[{"name":"country","value":"United
        States","timestamp":1434442722322,"sourceVid":[]}]},"website":{"value":"example.com","timestamp":1434442722316,"source":null,"sourceId":null,"versions":[{"name":"website","value":"example.com","timestamp":1434442722316,"sourceVid":[]}]},"address":{"value":"4020
        Nelson Avenue","timestamp":1434442722322,"source":null,"sourceId":null,"versions":[{"name":"address","value":"4020
        Nelson Avenue","timestamp":1434442722322,"sourceVid":[]}]},"city":{"value":"Concord","timestamp":1434442722322,"source":null,"sourceId":null,"versions":[{"name":"city","value":"Concord","timestamp":1434442722322,"sourceVid":[]}]},"timezone":{"value":"America/Los_Angeles","timestamp":1434442722322,"source":null,"sourceId":null,"versions":[{"name":"timezone","value":"America/Los_Angeles","timestamp":1434442722322,"sourceVid":[]}]},"facebook_company_page":{"value":"https://www.facebook.com/1190AMWLIB","timestamp":1434442722322,"source":null,"sourceId":null,"versions":[{"name":"facebook_company_page","value":"https://www.facebook.com/1190AMWLIB","timestamp":1434442722322,"sourceVid":[]}]},"createdate":{"value":"1434442722261","timestamp":1434442722261,"source":null,"sourceId":null,"versions":[{"name":"createdate","value":"1434442722261","timestamp":1434442722261,"sourceVid":[]}]},"description":{"value":"description","timestamp":1434442722261,"source":null,"sourceId":null,"versions":[{"name":"description","value":"description","timestamp":1434442722261,"sourceVid":[]}]},"linkedin_company_page":{"value":"http://www.linkedin.com/company/3129823","timestamp":1434442722322,"source":null,"sourceId":null,"versions":[{"name":"linkedin_company_page","value":"http://www.linkedin.com/company/3129823","timestamp":1434442722322,"sourceVid":[]}]},"twitterhandle":{"value":"UncorkdArt","timestamp":1434442722322,"source":null,"sourceId":null,"versions":[{"name":"twitterhandle","value":"UncorkdArt","timestamp":1434442722322,"sourceVid":[]}]},"hs_lastmodifieddate":{"value":"1434442722459","timestamp":1434442722459,"source":null,"sourceId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1434442722459","timestamp":1434442722459,"sourceVid":[]}]},"phone":{"value":"1.925.682.3740","timestamp":1434442722322,"source":null,"sourceId":null,"versions":[{"name":"phone","value":"1.925.682.3740","timestamp":1434442722322,"sourceVid":[]}]},"annualrevenue":{"value":"1000000000","timestamp":1434442722322,"source":null,"sourceId":null,"versions":[{"name":"annualrevenue","value":"1000000000","timestamp":1434442722322,"sourceVid":[]}]},"domain":{"value":"example.com","timestamp":1434442722261,"source":null,"sourceId":null,"versions":[{"name":"domain","value":"example.com","timestamp":1434442722261,"sourceVid":[]}]},"founded_year":{"value":"1996","timestamp":1434442722322,"source":null,"sourceId":null,"versions":[{"name":"founded_year","value":"1996","timestamp":1434442722322,"sourceVid":[]}]},"is_public":{"value":"false","timestamp":1434442722322,"source":null,"sourceId":null,"versions":[{"name":"is_public","value":"false","timestamp":1434442722322,"sourceVid":[]}]},"name":{"value":"name","timestamp":1434442722261,"source":null,"sourceId":null,"versions":[{"name":"name","value":"name","timestamp":1434442722261,"sourceVid":[]}]},"state":{"value":"California","timestamp":1434442722322,"source":null,"sourceId":null,"versions":[{"name":"state","value":"California","timestamp":1434442722322,"sourceVid":[]}]},"linkedinbio":{"value":"Ringalytics
        is an advertising platform for playing interactive audio-based ads on telephone
        calls. On the supply side, we help publishers of business directory information
        monetize phone calls originating from their sites. On the demand side, we
        offer the engagement of a captive play audio ad combined with the targeting
        efficacy of web based advertising, and layer on top of this interactive SMS
        capabilities for response-focused marketers.[...]
- request:
    method: get
    uri: https://api.hubapi.com/companies/v2/companies/recent/created?count=2&hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"results":[{"portalId":62515,"companyId":42866817,"isDeleted":false,"properties":{"zip":{"value":"94520","timestamp":1434442722322,"sou[...]
- request:
    method: get
    uri: https://api.hubapi.com/companies/v2/companies/paged?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2BB6E6B61B8459F43A69169A6E07C9054740B0010C000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '160000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '105996'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '59'
    body:
      encoding: UTF-8
      string: '{"has-more":true,"offset":137460646,"companies":[{"portalId":62515,"companyId":115200636,"isDeleted":false,"properties":{},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]},{"portalId":62515,"companyId":115279791,"isDeleted":false,"properties":{},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]},{"portalId":62515,"companyId":115329486,"isDeleted":false,"properties":{},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]},{"portalId":62515,"companyId":115954806,"isDeleted":false,"properties":{},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]},{"portalId":62515,"companyId":116011506,"isDeleted":false,"properties":{},"additionalDomains":[],[...]
- request:
    method: get
    uri: https://api.hubapi.com/companies/v2/companies/paged?count=2&hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B496FA3C078BB269E0F7B2CD1FD5E8331BE4349FD000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '160000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '105995'[...]
[...]
- request:
    method: get
    uri: https://api.hubapi.com/companies/v2/companies/paged?hapikey=demo&limit=20
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2BCBB0B4F234986215BFD29F943BA87F360E0BAE22000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '160000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '105980[...]
- request:
    method: get
    uri: https://api.hubapi.com/companies/v2/companies/paged?hapikey=demo&limit=2
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B88D0D06BC85574C4B8A85B5DC6DF20A106140AF5000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '160000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '105979'
      X-Hubspot-Ratelimit-Secondly:
      - '60'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '58'
    body:
      encoding: UTF-8
      string: '{"has-more":true,"offset":115279791,"companies":[{"portalId":62515,"companyId":115200636,"isDeleted":false,"properties":{},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]},{"portalId":62515,"companyId":115279791,"isDeleted":false,"properties":{},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}]}'
  recorded_at: Wed, 14 Nov 2018 02:01:24 GMT
recorded_with: VCR 4.0.0
